*.iml
.gradle
/local.properties
/.idea
/.idea/codeStyles
/.idea/codeStyles/Project.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/caches
/.idea/inspectionProfiles
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/gradle.xml


.DS_Store
/build
/captures
.externalNativeBuild
.cxx
